In [ ]:
# pip install jupyterthemes

In [ ]:
# pip install --upgrade jupyterthemes

In [1]:
from jupyterthemes import jtplot

jtplot.style(theme='monokai', context='notebook', ticks=True, grid=False)

In [2]:
import pandas_redshift as pr
import difflib
import pandas as pd
import numpy as np
import pyodbc

import pandas.io.sql as sqlio
import psycopg2
import json

import datetime

import seaborn as sns
from scipy import stats

import matplotlib.pyplot as plt

var_dbname = 'analitico'
var_host = '10.12.2.26'#10.12.2.26 | 10.12.6.95
var_port ='5439'
var_user ='javierdiaz'
var_password = 'Belcorp2020'

In [3]:
var_dbname = 'analitico'   #QA
var_host = '10.12.9.172'
var_port ='5439'
var_user ='javierdiaz'
var_password = 'Belcorp2020'

### Función Obtener Tabla

In [14]:
def dataset(s,t):
    
    connRS=psycopg2.connect(
                        dbname= var_dbname, 
                        host= var_host, 
                        port= var_port, 
                        user= var_user,
                        password=var_password
    )
    
    if(connRS):
        print("Conexión exitosa")
        query_parameters = """

        select TOP 1000 *
        from {}.{};

        """.format(s,t)
        print("Trajo la data")
        ds =  pd.read_sql(query_parameters, connRS)
        return ds
        
        connRS.close()
    else:
        print("falló")

In [15]:
# dataset('dom_customer','iku_ecat_result')

### Función outliers

In [16]:
def find_outlier(df_in, col_name):
    str(col_name)
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1 #Interquartile range
    fence_low  = q1-1.5*iqr
    fence_high = q3+1.5*iqr
    df_out = df_in.loc[(df_in[col_name] < fence_low) | (df_in[col_name] > fence_high)]
    porc = 1- (df_out[col_name].count() / df_in[col_name].count())
    return porc

### Función Email valido / flag

In [17]:
import re

def fnc_email_valido(e):
    regex = '^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$'
    
    if(re.search(regex,e)):
        return 0
    else:
        return 1

In [18]:
fnc_email_valido('javier5abril@gmail.com')

0

In [36]:
def fnc_completitud(esquema,data,columna):
    #obtengo la data de la tabla
    ds = dataset(esquema,data)
    
    #setear
    name_flag = str(columna)+'_completitud'
    ds[name_flag] = ds[columna].apply(lambda x : fnc_email_valido(x))
    
    #retorno la data final, completitud + fecha + tabla
    return ds

In [37]:
output = fnc_completitud('fnc_customer','iku_cdc_profile','email')

Conexión exitosa
Trajo la data

In [38]:
output.head()

,uid,email,created_register,marketing_campaignidregister,flag_branding,date_branding,date_ecatalog,flag_ecatalog,flag_commerce,date_commerce,...,country,firstname,gender,lastname,phones_number,flag_status,desc_flag_status,created,updated,email_completitud
0,80509da49af0477f8cb82289b203fbac,fannyintriago1991@gmail.com,2019-08-02 00:18:22.898,,False,NaT,NaT,False,False,None,...,EC,FANNY,f,INTRIAGO,,1.0,record not updated,2020-01-23 19:15:03.832963,NaT,0
1,07cb43af47a541659c8fc4848cab1d32,victor-1712-otero@outlook.com,2019-08-02 01:16:19.778,201911,False,NaT,2019-09-04 11:43:26.592,True,False,None,...,EC,Victor,m,Otero,+59309999999999,1.0,record not updated,2020-01-23 19:15:03.832963,NaT,0
2,a083de3b62fa4c079e95aee3dca61665,emely_merino@hotmail.com,2019-08-02 00:57:48.397,,False,NaT,2019-06-02 00:00:00.000,True,False,None,...,EC,EMELY,f,MERINO,,1.0,record not updated,2020-01-23 19:15:03.832963,NaT,0
3,4901aeeda22a466c896d8cae135a5703,Annettehernandez925@yahoo.com,2019-08-01 23:56:30.824,202002,False,NaT,2020-01-26 22:53:33.283,True,False,None,...,PR,ANNETTE,f,HERNANDEZ,+17872352594,1.0,record not updated,2020-01-27 20:50:11.228914,NaT,0
4,4cad550b15574c5ba3bdfc6649c1b865,julialexandra1994@gmail.com,2019-11-27 02:33:41.693,,False,NaT,2019-11-27 02:33:41.386,True,False,None,...,EC,Julia,None,Peu00f1afiel,+5930969922464,1.0,record not updated,2020-01-23 19:15:03.832963,NaT,0

In [ ]:
fnc_completitud('dom_customer','iku_ecat_result','email')

fnc_cobertura('dom_customer','iku_ecat_result','email')
fnc_densidad('dom_customer','iku_ecat_result','email')
fnc_densidad('dom_customer','iku_ecat_result','email')

In [ ]:
output = metrica('dom_customer','iku_ecat_result')

for i in output.select_dtypes(include=['int','float']).columns.values:
    #print(i)
    print(i , " : ", find_outlier(output, i))

In [ ]:
output.dtypes

#output.select_dtypes(include=['int','float'])

In [ ]:
output = metrica('dom_customer','iku_ecat_result')

In [ ]:
find_outlier(output,"tot_amount_usd")

In [ ]:
equema
tabla



connRS=psycopg2.connect(dbname= var_dbname, 
                        host= var_host, 
                        port= var_port, 
                        user= var_user,
                        password=var_password )

if(connRS):
    print("Conexión exitosa")
    query_parameters = """
    
    select codpais,aniocampana,count(*) as total_redshift
    from $s.$s
    where aniocampana >= '202001'
    group by 1,2
    order by 1,2
    
    """, schema

    datalake =  pd.read_sql(query_parameters, connRS)

    connRS.commit()
    connRS.close()
else:
    print("falló")

In [ ]:
datalake.dtypes
datalake = datalake.dropna(how="all")

In [ ]:
datalake["aniocampana"] = datalake["aniocampana"].astype(int)
datalake.dtypes

In [ ]:
datalake[datalake["codpais"] == 'BO']

In [ ]:
Hola = 'Hola'
caracteres = """Select top 10 * from (%s)""", Hola

print(caracteres)

In [ ]:
def metrica(s,t):
    
    connRS=psycopg2.connect(
                        dbname= var_dbname, 
                        host= var_host, 
                        port= var_port, 
                        user= var_user,
                        password=var_password
    )
    
    if(connRS):
        print("Conexión exitosa")
        query_parameters = """

        select TOP 5000 *
        from {}.{} where aniocampana = '202004';

        """.format(s,t)
        
        ds =  pd.read_sql(query_parameters, connRS)
        return ds
        
        connRS.close()
    else:
        print("falló")

In [ ]:
output = metrica('dom_customer','iku_ecat_result')

In [ ]:
def find_outlier(df_in, col_name):
    str(col_name)
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1 #Interquartile range
    fence_low  = q1-1.5*iqr
    fence_high = q3+1.5*iqr
    df_out = df_in.loc[(df_in[col_name] < fence_low) | (df_in[col_name] > fence_high)]
    porc = 1- (df_out[col_name].count() / df_in[col_name].count())
    return porc

find_outlier(output,"tot_amount_usd")

In [ ]:
def find_outlier(df_in, col_name):
    str(col_name)
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1 #Interquartile range
    fence_low  = q1-1.5*iqr
    fence_high = q3+1.5*iqr
    df_out = df_in.loc[(df_in[col_name] < fence_low) | (df_in[col_name] > fence_high)]
    porc = 1- (df_out[col_name].count() / df_in[col_name].count())
    return df_out

find_outlier(output,"tot_amount_usd")

In [ ]:
output["precio"].count()

In [ ]:
pip install validate_email

In [ ]:
pip install py3DNS

In [ ]:
import validate_email 

validate_email('example@example.com',check_mx=True)

In [ ]:
parseaddr('foo@example.com')

In [ ]:
parseaddr('dadasd.com')

In [ ]:
parseaddr('invalid@example.com') # notice the comma ('', 'invalid@example')

In [ ]:
parseaddr('holahola.com')

In [ ]:
is_valid = validate_email('example@example.com',check_mx=True)